.loginPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #09231020;
  font-family: 'Inter', sans-serif;
}

.termsAndServiceContainer {
  width: 400px;
  text-align: center;
  color: #7f829f;
  flex: 1;
}

.termsAndServiceContainer p {
  width: 100%;
}

/*Main form in the center of the page */
.loginContainer {
  height: 50%;
  width: 28%;
  min-width: 450px;
  min-height: 400px;
  border: 2px solid #092310;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #092310;
}
.loginLogo {
  height: auto;
  width: 275px;
  margin-top: 15px;
}
.loginElements {
  width: 100%;
  margin: 0 auto;
}

.loginElements > div {
  margin: 7px auto 0;
}

.loginElements .loginButtonContainer {
  text-align: center;
}
.loginButtonContainer > button {
  margin: 12px 0 6px 0;
  width: 50%;
  height: 40px;
  border-radius: 12px;
  border: none;
}

.loginButtonContainer p {
  color: #aaacbf;
  font-size: 0.8rem;
  margin-top: 6px;
}

.loginButtonContainer .cursorText {
  display: inline-block;
  color: #7f829f;
  text-decoration: underline;
}
.termsAndServiceContainer .cursorText {
  display: inline-block;
  color: #7f829f;
  text-decoration: underline;
}

@media (max-height: 680px) {
  .loginPage {
    flex-direction: row;
  }

  .termsAndServiceContainer p {
    width: 60%;
    margin: 0 auto;
  }
}
