.defaultStyles {
  border: none;
  background: none;
  position: relative;
  background-color: transparent;
  outline: none;
  height: inherit;
  width: fit-content;
  line-height: inherit;
  border-radius: 4px;
  padding: 0px;
  margin: 0px;
}

.defaultStyles > .pseudo-loader {
  background-color: transparent;
}
