@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.app {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #81A4CD;
}

:global(*) {
  font-family: "Inter", sans-serif;
}
